
spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:PZBadRegistration}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true

  devtools:
    restart:
      enabled: true

  data:
    redis:
      host: localhost
      password: ${REDIS_PASSWORD:}
      port: 6379
      timeout: 2000ms


  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1


resend:
  api-key: ${RESEND_API_KEY}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    tryItOutEnabled: true
server:
  servlet:
    session:
      cookie:
        secure: false
        same-site: lax